In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("zepto_v2.csv")

In [8]:
df.head(10)

,Category,name,mrp,discountPercent,availableQuantity,discountedSellingPrice,weightInGms,outOfStock,quantity
0,Fruits & Vegetables,Onion,2500,16,3,2100,1000,False,1
1,Fruits & Vegetables,Tomato Hybrid,4200,16,3,3500,1000,False,1
2,Fruits & Vegetables,Tender Coconut,5100,15,3,4300,58,False,1
3,Fruits & Vegetables,Coriander Leaves,2000,15,3,1700,100,False,100
4,Fruits & Vegetables,Ladies Finger,1400,14,3,1200,250,False,250
5,Fruits & Vegetables,Potato,3500,17,3,2900,1000,False,1
6,Fruits & Vegetables,Lemon,7500,16,3,6300,200,False,200
7,Fruits & Vegetables,Watermelon,5800,15,3,4900,58,False,1
8,Fruits & Vegetables,Capsicum Green,2300,17,3,1900,250,False,250
9,Fruits & Vegetables,Chilli Green,1900,15,3,1600,100,False,100

In [13]:
df.describe()

,mrp,discountPercent,availableQuantity,discountedSellingPrice,weightInGms,quantity
count,3732.000000,3732.000000,3732.000000,3732.000000,3732.000000,3732.000000
mean,15680.117899,7.617095,4.008574,14192.834941,387.843783,213.270900
std,16088.807618,9.211733,2.203511,13850.726265,678.096509,194.730976
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6000.000000,0.000000,2.000000,5500.000000,100.000000,50.000000
50%,11000.000000,6.000000,5.000000,10400.000000,225.000000,186.000000
75%,20000.000000,10.000000,6.000000,18400.000000,450.000000,340.000000
max,260000.000000,51.000000,6.000000,139900.000000,10000.000000,1500.000000

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3732 entries, 0 to 3731
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Category                3732 non-null   object
 1   name                    3732 non-null   object
 2   mrp                     3732 non-null   int64
 3   discountPercent         3732 non-null   int64
 4   availableQuantity       3732 non-null   int64
 5   discountedSellingPrice  3732 non-null   int64
 6   weightInGms             3732 non-null   int64
 7   outOfStock              3732 non-null   bool
 8   quantity                3732 non-null   int64
dtypes: bool(1), int64(6), object(2)
memory usage: 237.0+ KB

In [12]:
df.isnull().sum()

Category                  0
name                      0
mrp                       0
discountPercent           0
availableQuantity         0
discountedSellingPrice    0
weightInGms               0
outOfStock                0
quantity                  0
dtype: int64

In [14]:
df.columns

Index(['Category', 'name', 'mrp', 'discountPercent', 'availableQuantity',
       'discountedSellingPrice', 'weightInGms', 'outOfStock', 'quantity'],
      dtype='object')

In [16]:
!pip install sqlalchemy pymysql

from sqlalchemy import create_engine
import pandas as pd

# your DataFrame: df
# df = pd.read_csv("your_file.csv")

username = "root"
password = "1234"       # keep it as a string
host = "localhost"
port = "3306"
database = "zepto_analysis"

engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}")

table_name = "zepto"   # table name in MySQL

# send DataFrame to MySQL
df.to_sql(table_name, engine, if_exists="replace", index=False)

# optional: test read
pd.read_sql("SELECT * FROM zepto LIMIT 5;", engine)

[notice] A new release of pip is available: 24.0 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sqlalchemy in c:\users\vishal\appdata\roaming\python\python312\site-packages (2.0.44)
Requirement already satisfied: pymysql in c:\users\vishal\appdata\roaming\python\python312\site-packages (1.1.2)
Requirement already satisfied: greenlet>=1 in c:\users\vishal\appdata\roaming\python\python312\site-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\vishal\appdata\roaming\python\python312\site-packages (from sqlalchemy) (4.15.0)

,Category,name,mrp,discountPercent,availableQuantity,discountedSellingPrice,weightInGms,outOfStock,quantity
0,Fruits & Vegetables,Onion,2500,16,3,2100,1000,0,1
1,Fruits & Vegetables,Tomato Hybrid,4200,16,3,3500,1000,0,1
2,Fruits & Vegetables,Tender Coconut,5100,15,3,4300,58,0,1
3,Fruits & Vegetables,Coriander Leaves,2000,15,3,1700,100,0,100
4,Fruits & Vegetables,Ladies Finger,1400,14,3,1200,250,0,250